# Local dev con docker-compose
SPRING_PROFILES_ACTIVE=prod
JWT_ENABLED=false
JWT_SECRET=un-secreto-super-largo-de-al-menos-64-caracteres-para-desarrollo-local
CUENTA_SALDO_INICIAL=0.00
CUENTA_PREFIJO_CLABE=014180
GESTOPAGO_ENABLED=false
